# system files
.DS_Store
src/preprocessing/__pycache__/
src/utils/__pycache__/
src/postprocessing/__pycache__/
src/preprocessing/extract/bin/
src/__pycache__/
src/plot/__pycache__/
__pycache__/main.cpython-311.pyc
src/download/__pycache__/__init__.cpython-311.pyc
src/download/__pycache__/download_copernicus_parser.cpython-311.pyc
src/download/__pycache__/downloader.cpython-311.pyc
src/download/__pycache__/download_era5_parser.cpython-311.pyc
# log files
*.log
# folders and files used in other branches
src/model/bin/
src/model/mod/
src/model/test/*.o
src/model/test/*.exe
src/model/test/*.mod
src/model/obj/
src/utils/jday/bin/
src/model/test/data/test_envdata_20170423.nc
src/model/test/data/test_envdata_20170424.nc
src/model/test/data/test_envdata_20170425.nc
fort.91
output/*
!output/.gitkeep
# data not uploaded
input_data/coastline/gshhg/
input_data/coastline/gshhg/GSHHS_shp/c/*
input_data/coastline/gshhg/GSHHS_shp/f/*
input_data/coastline/gshhg/GSHHS_shp/h/*
input_data/coastline/gshhg/GSHHS_shp/i/*
input_data/coastline/gshhg/GSHHS_shp/l/*
input_data/coastline/gshhg/GSHHS_shp/README.TXT
input_data/bathymetry/gebco/GEBCO_2023.nc
input_data/bathymetry/gebco/GEBCO_2024.nc
input_data/bathymetry/gebco/GEBCO_2024_sub_ice_topo.nc
# algeria test case
testcase/algeria/out_files/
testcase/algeria/bnc_files/dtmcst1.d
testcase/algeria/xp_files/
testcase/algeria/bnc_files/
testcase/algeria/oce_files/
testcase/algeria/met_files/
testcase/algeria/*.log
testcase/algeria/detections
# paria test case  
testcase/paria/out_files/oil_concentration.nc
testcase/parameters/*
testcase/paria/out_files
testcase/paria/xp_files
testcase/paria/*.log
testcase/paria/bnc_files/dtmcst1.d
testcase/paria/detections
# lebanon test case
testcase/lebanon/out_files/
testcase/lebanon/bnc_files/dtmcst1.d
testcase/lebanon/xp_files/
testcase/lebanon/*.log
testcase/lebanon/detections
# END
