# system files
.DS_Store
src/preprocessing/__pycache__/
src/utils/__pycache__/
src/postprocessing/__pycache__/
src/preprocessing/extract/bin/
src/__pycache__/
src/plot/__pycache__/
__pycache__/main.cpython-311.pyc
src/download/__pycache__/__init__.cpython-311.pyc
src/download/__pycache__/download_copernicus_parser.cpython-311.pyc
src/download/__pycache__/download_era5_parser.cpython-311.pyc
# log files
compile.log
medslik_run.log
# folders and files used in other branches
src/model/bin/
src/model/mod/
src/model/test/*.o
src/model/test/*.exe
src/model/test/*.mod
src/model/obj/
src/utils/jday/bin/
src/model/test/data/test_envdata_20170423.nc
src/model/test/data/test_envdata_20170424.nc
src/model/test/data/test_envdata_20170425.nc
fort.91
output
# data not uploaded
data/gebco/GEBCO_2023.nc
data/gshhs/GSHHS_shp/c/*
data/gshhs/GSHHS_shp/f/*
data/gshhs/GSHHS_shp/h/*
data/gshhs/GSHHS_shp/i/*
data/gshhs/GSHHS_shp/l/*
data/gshhs/f/GSHHS_f_L1.shp
data/gshhs/f/GSHHS_f_L1.shx
# algeria test case
cases/algeria/out_files/
cases/algeria/bnc_files/dtmcst1.d
cases/algeria/xp_files/
cases/algeria/bnc_files/
cases/algeria/oce_files/
cases/algeria/met_files/
cases/algeria/*.log
cases/algeria/detections
# paria test case  
cases/paria/out_files/oil_concentration.nc
cases/parameters/*
cases/paria/out_files
cases/paria/xp_files
cases/paria/*.log
cases/paria/bnc_files/dtmcst1.d
cases/paria/detections
# lebanon test case
cases/lebanon/out_files/
cases/lebanon/bnc_files/dtmcst1.d
cases/lebanon/xp_files/
cases/lebanon/*.log
cases/lebanon/detections
# Syria test case
cases/syria/out_files/
cases/syria/bnc_files/dtmcst1.d
cases/syria/xp_files/
cases/syria/bnc_files/
cases/syria/oce_files/
cases/syria/met_files/
cases/syria/*.log
cases/syria/detections
